export(EST)
export(GSS)
export(abstract)
export(author)
export(browsePubmed)
export(cites)
export(createTaxonDB)
export(doi)
export(getAuthority)
export(getByRank)
export(getLineage)
export(getOtherName)
export(getParentTaxId)
export(getRank)
export(getScientificName)
export(getTaxId)
export(issue)
export(journal)
export(nucleotide)
export(parseAcc)
export(parseGenBank)
export(parsePubmed)
export(parseTSeqSet)
export(parseTaxon)
export(parseUilist)
export(pmid)
export(protein)
export(pubmed)
export(table)
export(taxon)
export(taxonByGeneID)
export(taxonDB)
export(title)
export(updateTaxonDB)
exportClass(Lineage)
exportClass(LineageList)
exportClass(Taxon)
exportClass(TaxonList)
exportClass(Taxon_full)
exportClass(Taxon_minimal)
exportMethods(abstract)
exportMethods(author)
exportMethods(browsePubmed)
exportMethods(cites)
exportMethods(doi)
exportMethods(getAuthority)
exportMethods(getByRank)
exportMethods(getLineage)
exportMethods(getOtherName)
exportMethods(getParentTaxId)
exportMethods(getRank)
exportMethods(getScientificName)
exportMethods(getTaxId)
exportMethods(issue)
exportMethods(journal)
exportMethods(pmid)
exportMethods(table)
exportMethods(title)
useDynLib(ncbi)
import(Rcpp)
importFrom(BiocGenerics,table)
importFrom(Biostrings,AAStringSet)
importFrom(Biostrings,DNAStringSet)
importFrom(IRanges,"elementMetadata<-")
importFrom(IRanges,DataFrame)
importFrom(RCurl,CFILE)
importFrom(RCurl,basicTextGatherer)
importFrom(RCurl,close)
importFrom(RCurl,curlOptions)
importFrom(RCurl,curlPerform)
importFrom(RSQLite,SQLite)
importFrom(RSQLite,dbBeginTransaction)
importFrom(RSQLite,dbCommit)
importFrom(RSQLite,dbConnect)
importFrom(RSQLite,dbDisconnect)
importFrom(RSQLite,dbGetQuery)
importFrom(RSQLite,dbListTables)
importFrom(RSQLite,dbSendPreparedQuery)
importFrom(RSQLite,dbSendQuery)
importFrom(Rentrez,content)
importFrom(Rentrez,count)
importFrom(Rentrez,database)
importFrom(Rentrez,epost)
importFrom(Rentrez,esearch)
importFrom(Rentrez,idList)
importFrom(Rentrez,queryKey)
importFrom(Rentrez,set_record_type)
importFrom(Rentrez,webEnv)
importFrom(XML,free)
importFrom(XML,getNodeSet)
importFrom(XML,xmlDoc)
importFrom(XML,xmlRoot)
importFrom(biofiles,gbRecord)
importFrom(methods,is)
importFrom(methods,new)
importFrom(rmisc,"%ni%")
importFrom(rmisc,"%|null|%")
importFrom(rmisc,"%||%")
importFrom(rmisc,Curry)
importFrom(rmisc,all_empty)
importFrom(rmisc,compact)
importFrom(rmisc,is_empty)
importFrom(rmisc,trim)
importFrom(rmisc,xattr)
importFrom(rmisc,xname)
importFrom(rmisc,xvalue)
importFrom(stats,setNames)
importFrom(utils,bibentry)
importFrom(utils,person)
