export(.ncbi_taxon_ranks)
export(EST)
export(GSS)
export(Lineage)
export(LineageList)
export(TaxonList)
export(browsePubmed)
export(clear_cache)
export(createGeneidDB)
export(createTaxonDB)
export(fetch_files)
export(geneidDBConnect)
export(getAbstract)
export(getAuthor)
export(getAuthority)
export(getByRank)
export(getCites)
export(getDoi)
export(getIssue)
export(getJournal)
export(getLineage)
export(getOtherName)
export(getParentTaxID)
export(getPmid)
export(getRank)
export(getScientificName)
export(getTaxID)
export(getTitle)
export(nucleotide)
export(parseAcc)
export(parseGenBank)
export(parsePubmed)
export(parseTSeqSet)
export(parseTaxon)
export(parseUilist)
export(protein)
export(pubmed)
export(show_cache)
export(table)
export(taxon)
export(taxonByGeneID)
export(taxonDB)
export(taxonDBConnect)
export(updateGeneidDB)
export(updateTaxonDB)
exportClass(GeneidDBConnection)
exportClass(Lineage)
exportClass(LineageList)
exportClass(Taxon)
exportClass(TaxonDBConnection)
exportClass(TaxonList)
exportClass(Taxon_full)
exportClass(Taxon_minimal)
exportClass(doi)
exportClass(pubmed)
exportMethods(browsePubmed)
exportMethods(getAbstract)
exportMethods(getAuthor)
exportMethods(getAuthority)
exportMethods(getByRank)
exportMethods(getCites)
exportMethods(getDoi)
exportMethods(getIssue)
exportMethods(getJournal)
exportMethods(getLineage)
exportMethods(getOtherName)
exportMethods(getParentTaxID)
exportMethods(getPmid)
exportMethods(getRank)
exportMethods(getScientificName)
exportMethods(getTaxID)
exportMethods(getTitle)
exportMethods(table)
importClassesFrom(DBI,DBIConnection)
importClassesFrom(DBI,DBIObject)
importClassesFrom(RSQLite,SQLiteConnection)
importClassesFrom(RSQLite,SQLiteObject)
importClassesFrom(RSQLite,dbObjectId)
importClassesFrom(rmisc,Collection)
importFrom(BiocGenerics,table)
importFrom(Biostrings,AAStringSet)
importFrom(Biostrings,DNAStringSet)
importFrom(IRanges,"elementMetadata<-")
importFrom(IRanges,DataFrame)
importFrom(RCurl,CFILE)
importFrom(RCurl,close)
importFrom(RCurl,curlOptions)
importFrom(RCurl,curlPerform)
importFrom(RSQLite,dbListFields)
importFrom(RSQLite,dbListTables)
importFrom(RSQLite,dbSendQuery)
importFrom(XML,free)
importFrom(XML,xmlDoc)
importFrom(assertthat,"on_failure<-")
importFrom(assertthat,assert_that)
importFrom(assertthat,is.dir)
importFrom(assertthat,is.string)
importFrom(assertthat,is.writeable)
importFrom(memoise,memoise)
importFrom(reutils,content)
importFrom(reutils,database)
importFrom(reutils,efetch)
importFrom(reutils,epost)
importFrom(reutils,esearch)
importFrom(reutils,ncbi_retrieval_type)
importFrom(reutils,querykey)
importFrom(reutils,webenv)
importFrom(reutils,xattr)
importFrom(reutils,xname)
importFrom(reutils,xset)
importFrom(reutils,xvalue)
importFrom(rmisc,"%has_tables%")
importFrom(rmisc,as.list)
importFrom(rmisc,collectionConstructor)
importFrom(rmisc,collectionShower)
importFrom(rmisc,collectionValidator)
importFrom(rmisc,db_bulk_insert)
importFrom(rmisc,db_connect)
importFrom(rmisc,db_count)
importFrom(rmisc,db_create)
importFrom(rmisc,db_disconnect)
importFrom(rmisc,db_query)
importFrom(rmisc,file_compare)
importFrom(rmisc,has_command)
importFrom(rmisc,new_cache)
importFrom(rmisc,rBind)
importFrom(rmisc,shared)
importFrom(rmisc,strip_ext)
importFrom(utils,bibentry)
importFrom(utils,person)
useDynLib(ncbi)
