S3method(print,cache)
export(.ncbi_taxon_ranks)
export(EST)
export(GSS)
export(Lineage)
export(LineageList)
export(TaxonList)
export(clear_cache)
export(createGeneidDB)
export(createTaxonDB)
export(fetch_files)
export(geneidDBConnect)
export(nucleotide)
export(parseAcc)
export(parseGenBank)
export(parsePubmed)
export(parseTSeqSet)
export(parseTaxon)
export(parseUilist)
export(protein)
export(pubmed)
export(show_cache)
export(taxon)
export(taxonByGeneID)
export(taxonDB)
export(taxonDBConnect)
export(updateGeneidDB)
export(updateTaxonDB)
exportClasses(GeneidDBConnection)
exportClasses(Lineage)
exportClasses(LineageList)
exportClasses(Taxon)
exportClasses(TaxonDBConnection)
exportClasses(TaxonList)
exportClasses(Taxon_full)
exportMethods(as.list)
exportMethods(browsePubmed)
exportMethods(getAbstract)
exportMethods(getAuthor)
exportMethods(getAuthority)
exportMethods(getByRank)
exportMethods(getCites)
exportMethods(getDoi)
exportMethods(getIssue)
exportMethods(getJournal)
exportMethods(getLineage)
exportMethods(getOtherName)
exportMethods(getParentTaxID)
exportMethods(getPmid)
exportMethods(getRank)
exportMethods(getScientificName)
exportMethods(getTaxID)
exportMethods(getTitle)
exportMethods(table)
import(methods)
importClassesFrom(DBI,DBIConnection)
importClassesFrom(DBI,DBIObject)
importClassesFrom(RSQLite,SQLiteConnection)
importClassesFrom(RSQLite,SQLiteObject)
importClassesFrom(RSQLite,dbObjectId)
importFrom(BiocGenerics,table)
importFrom(Biostrings,AAStringSet)
importFrom(Biostrings,DNAStringSet)
importFrom(IRanges,"elementMetadata<-")
importFrom(IRanges,DataFrame)
importFrom(RCurl,CFILE)
importFrom(RCurl,basicTextGatherer)
importFrom(RCurl,close)
importFrom(RCurl,curlOptions)
importFrom(RCurl,curlPerform)
importFrom(RSQLite,SQLite)
importFrom(RSQLite,dbBeginTransaction)
importFrom(RSQLite,dbCommit)
importFrom(RSQLite,dbConnect)
importFrom(RSQLite,dbDisconnect)
importFrom(RSQLite,dbGetInfo)
importFrom(RSQLite,dbGetQuery)
importFrom(RSQLite,dbListFields)
importFrom(RSQLite,dbListTables)
importFrom(RSQLite,dbSendQuery)
importFrom(RSQLite,sqliteExecStatement)
importFrom(XML,free)
importFrom(XML,xmlDoc)
importFrom(assertthat,"on_failure<-")
importFrom(assertthat,assert_that)
importFrom(assertthat,has_args)
importFrom(assertthat,has_attr)
importFrom(assertthat,has_extension)
importFrom(assertthat,is.dir)
importFrom(assertthat,is.readable)
importFrom(assertthat,is.string)
importFrom(memoise,memoise)
importFrom(reutils,content)
importFrom(reutils,database)
importFrom(reutils,efetch)
importFrom(reutils,epost)
importFrom(reutils,esearch)
importFrom(reutils,ncbi_retrieval_type)
importFrom(reutils,querykey)
importFrom(reutils,webenv)
importFrom(reutils,xattr)
importFrom(reutils,xname)
importFrom(reutils,xset)
importFrom(reutils,xvalue)
importFrom(utils,bibentry)
importFrom(utils,person)
useDynLib(ncbi)
